{% extends 'base.html.twig' %}

{% block body %}
    {% for competitionType, files in doorstromingFiles %}
        <h1>{{ competitionType }}</h1>
        <p>
            <a href="{{ path('downloadSpecificFile', {'fileName': attribute(files, 'Volledige lijsten')}) }}">Volledige lijsten</a><br/>
            <a href="{{ path('downloadSpecificFile', {'fileName': attribute(files, 'Lijsten met alleen de doorgestroomde turnsters')}) }}">Lijsten met alleen de doorgestroomde turnsters</a><br/>
            {% if files.Reserves is defined %}
                <a href="{{ path('downloadSpecificFile', {'fileName': attribute(files, 'Reserves')}) }}">Reserves</a><br/>
            {% endif %}
        </p>
        {% if files.extraSpotsAvailable is not empty %}
            <b>Let op, bij de volgende categorien moeten nog aanwijsplekken verdeeld worden:</b>
            {% for spots in files.extraSpotsAvailable %}
                <br />{{ spots.category }} {{ spots.level }}: {{ spots.extraSpots }} {% if spots.extraSpots == 1 %}plek{% else %}plekken{% endif %}
                <table border="1">
                    <tr>
                        <th>Groep</th>
                        <th>Volledig geturnd W1</th>
                        <th>Volledig geturnd W2</th>
                        <th>Volledig geturnd totaal</th>
                        <th>Aantal toegwezen plekken</th>
                    </tr>
                    {% for group in spots.groups %}
                        <tr>
                            <td><b>{{ group.name }}</b></td>
                            <td align="center">{{ group.firstCompetitionFullParticipants }}</td>
                            <td align="center">{{ group.secondCompetitionFullParticipants }}</td>
                            <td align="center">{{ group.totalFullParticipants }}</td>
                            <td align="center">{{ group.fullNumberOfSpots }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}
